body {
    margin: 0;
    background-color: wheat;
}
nav, .container div {
    border: solid black 2px;
}
nav {
    background-color: bisque;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
}
nav .navbar_items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.navbar_items a {
    text-decoration: none;
    color: black;
}
.container {
    display: grid;
    grid-template-columns: 20vw 80vw;
}
.menu {
    grid-area: 2/1/3/2;
    display: grid;
    justify-items: center;
    align-items: center;
}
.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-area: 2/2/3/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer {
    grid-area: 3/1/4/3;
    display: flex;
    padding: 1rem;
    justify-content: center;
    font-size: 2rem;
    background-color: bisque;
}
.cube {
    background-color: burlywood;
    height: 10rem;
    width: 10rem;
    border: solid rgb(153, 148, 148) 3px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    nav {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .container div {
        min-width: 100%;
    }
    .tags {
        margin-top: 1rem;
    }
    
  }
  